{
  "extends": [
    "react-app",
    "airbnb",
    "airbnb/hooks",
    "plugin:prettier/recommended",
    "prettier/react"
  ],
  "rules": {
    "prettier/prettier": "error",
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".js", ".jsx"]
      }
    ],
    "react/forbid-prop-types": [
      0,
      {
        "forbid": ["any"]
      }
    ],
    "react/jsx-props-no-spreading": [0, {}],
    "react/prop-types": 0
  },
  "settings": {
    "import/resolver": {
      "node": {
        "paths": ["src"]
      }
    }
  }
}
